[Unit]
Description=jsreport

[Service]
WorkingDirectory=/home/ubuntu/jsreport
ExecStart=/home/ubuntu/jsreport/jsreport.sh
User=root
Restart=always

[Install]
WantedBy=multi-user.target
