[Unit]
Description=Metabase

[Service]
WorkingDirectory=/home/ubuntu/metabase
ExecStart=/home/ubuntu/metabase/metabase.sh
User=root
Restart=always

[Install]
WantedBy=multi-user.target
